/* MAIN TAGS*/
h1, h2, h3{
    font-family: Josefin Sans;
    text-transform: uppercase;
    text-align:center;
}
h1{
padding: 10px 10px 10px 50px;
    margin:0;
}
h2{
    background-color : #e5c4c4;
    padding:10px;
}
h3{
    background-color : #e5c4c4;
}
img{
    width:250px;
}
body{
    background-color: #a1c1816e;
    color : black;
}
#middle{
    background-color:#ffffff;
}
header, main, .row, .col{
    background-color:white;
}
#title{
    background-color: #e5c4c4;
}

/* * ANIMATION */

#vortex {
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

/* *****PADDING/MARGINS*****  */
#connect, #intro{
    padding:15px;
}
#add-mess{
    padding:0;
}
#titre, #contenu{
    margin-bottom:10px;
}
.date{
    padding-left:15px;
}
.sectionmsg{
    margin-bottom:20px;
}


/****** FONT-SIZES ******/
.msg-content{
    font-size:1.5rem;
}
.msg-title h2{
    font-size:2.5rem;
}

.intro_span{
    font-weight:bold;
}
/* RANDOM CLASSES */
.input_connect{
    width:200px;
}

.input_message{
    width:80%;
}

.logo{
    width: 80px;
}

/* CLASS .TABLE */
.table{
    text-align:left;
    width: 90%;
    color:black;
    margin:0;
}


/****** CLASS .ERREURS ******/
.erreurs{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    border-radius:0.25rem;
    text-align : center;
    display : flex;
    flex-direction:row;
    justify-content:center;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    padding:15px;
}

/****** CLASS .ALERTS ******/
.alerts{
    color: #fff;
    background-color: #002137;
    border-color: #002137;
    border-radius:0.25rem;
    text-align : center;
    display : flex;
    flex-direction:row;
    justify-content:center;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    padding:15px;
}
.alerts p{
    margin:0;
}
.alerts ul{
    margin:0;
}
/* IDs */

#display-mess, #add-mess{
    /* border:red 1px solid; */
    width:100%;
    margin:0;
}

#vosmessages{
    padding-left:20px;
}

#intro div:last-of-type {
    margin: 10px 0px;
}
#intro div:last-of-type > p{
    margin:0;
    align-self:center;
}

.flashy_button{
    background-color:#1AAFD1B8;
    border-color:#1AAFD1B8;
}
.flashy_button:hover{
    background-image:     linear-gradient(
            to right,
            #E7484F,
            #E7484F 16.65%,
            #F68B1D 16.65%,
            #F68B1D 33.3%,
            #FCED00 33.3%,
            #FCED00 49.95%,
            #009E4F 49.95%,
            #009E4F 66.6%,
            #00AAC3 66.6%,
            #00AAC3 83.25%,
            #732982 83.25%,
            #732982 100%,
            #E7484F 100%



    );
    animation:slidebg 2s linear infinite !important;
}


@keyframes slidebg {
    to {
        background-position:20vw;
    }
}
#connect{
    border-top : solid 1px white;
    border-bottom : solid 1px white;
}
#add-mess{
    border-bottom: solid 1px white;
}

#display-mess{
    margin-top : 10px;
}