/* FRAMES FOR LAYOUT */
#display-mess, #add-mess{
    /* border:red 1px solid; */
    width:100%;
    margin:0;
    padding:0;
}

.alerts p{
    margin:0;
}


img{
    width:250px;
}

body{
    background-color: #2D2D2A;
    color : #fff;
}

header, main, .row, .col{
    background-color:#4C4C47;
}

.alerts ul{
    margin:0;
}

.input_connect{
    width:200px;
}

.input_message{
    width:80%;
}

.table{
    text-align:left;
    width: 90%;
    color:white;
    margin:0;
}
/* *****PADDING/MARGINS*****  */
#add-mess, #connect, #intro{
    padding:20px;
}
#titre, #contenu{
    margin-bottom:10px;
}
.msg-content{
    font-size:1.5rem;
}
.msg-title h2{
    font-size:2.5rem;
}
.date{
    padding-left:20px;
}
.sectionmsg{
    margin-bottom:20px;
}
#vosmessages{
    padding-left:20px;
}

.alerts{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    border-radius:0.25rem;
    text-align : center;
    display : flex;
    flex-direction:row;
    justify-content:center;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    padding:15px;
}
